body {
  background-color: #223;
  font-family: 'Arial Narrow Bold', sans-serif;
}

#gameboard {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #223;
  width: 320px;
  gap: 10px;
}

.space {
  height: 100px;
  width: 100px;
  text-align: center;
  line-height: 90px;
  background-color: red;
  color: lightcyan;
  font-size: 70px;

}

.space.untaken:hover {
  background-color: pink;
}

#message {
  color: white;
  margin-top: 1em;
}

h1 {
  color: white;
}

.player-options-label {
  color: white;
}

.mark-input {
  width: 1em;
}